<duv class="ina_center_left ">
        <div class="ina_centerleft_box">
            <div class="ina_grjj">
                <div class="ina_grjj_edit"><a href="__APP__/Ucenter/euserinfo"><i class="ina_icon"></i>修改</a></div>
                <div class="ina_touxiang">
                    <a href="__APP__/Ucenter/euserinfo"><img src="<{$user.picture_path}>"></a>
                    <p><span><{$user.username}></span></p>
                    <span class="ina_sex"><i class="ina_icon <{if $user.sex eq '1'}>ina_man<{else}>ina_women<{/if}>"></i></span>
                </div>
                <div class="ina_grjjbt">个人简介:</div>
                <div class="ina_grjjnr"><{$user.introduce}></div>
                <ul>
                    <li><span>发帖数</span><p><a href="__APP__/Ucenter/uspace/uid/<{$user.id}>" target="_blank"><{$count_mess}></a></p></li>
                    <li><span>关注</span><p><a href="__APP__/Ucenter/uspace/uid/<{$user.id}>" target="_blank"><{$count_f}></a></p></li>
                    <li class="ina_last"><span>粉丝</span><p><a href="__APP__/Ucenter/uspace/uid/<{$user.id}>" target="_blank"><{$count_s}></a></p></li>
                </ul>
            </div>
        </div>
        <div class="ina_centerleft_box">
            <div class="ina_centerbt">
                <h3>热门文章推荐：</h3>
            </div>
            <{foreach $hot_lsit as $v}>
            <dl>
                <a href="__APP__/Index/show/id/<{$v.id}>" target="_blank">
                    <dt><img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$v.cover2}>" /></dt>
                    <dd>
                        <h3><{$v.title}></h3>
                    </dd>
                </a>
            </dl>
            <{/foreach}>
        </div>
    </duv>