<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>完善信息-极趣</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">

<!--<script src="http://img.news18a.com/js/jquery-1.7.2.min.js"></script>-->


</head>
<body class="ina_f5f5f5">
<{include file="../Public/head.html"}>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/uploadify.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.uploadify.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/jquery.Jcrop.css" type="text/css" />
<script src="__PUBLIC__/js/jquery.Jcrop.js"></script>
<div class="ina_silde">
    <div class="ina_perfect" style="margin-top: 10px;">
        <div class="ina_perfect_top">
            <div class="ina_perfect_bt"><h3>完善信息</h3></div>
            <p>Hi，新朋友，完善以下内容，让车友们更方便找到和关注你。</p>
        </div>
        <div class="ina_perfect_bottom">
            <ul>
                <li>
                    <label class="ina_name">上传头像2</label>
                    <div class="ina_file" id="default_div">
                        <div id="default_div_show">
                            <img src="<{$userinfo.picture_path}>">

                        </div>
                        <input type="file" style="display: none;" id="file_upload">

                    </div>
                    <!--<input type="hidden" value="<{$userinfo.picture}>" id="showpicval" />-->
                </li>
                <li id="cut_pic_1"  style="display:none;">
                     <div id="cut_pic_1_2">
                        <img id="cropbox_1" src="" />
                    </div>
                    <a href="javascript:;;" id="cut_pic_button_1" style="background: #ff5a60 repeat scroll 0 0;border-radius: 12px;color: #fff;line-height: 30px; margin-top:10px; float:left;padding:5px 10px;">剪裁</a>
                    <input type="hidden" id="x_1" name="x" /> 
                    <input type="hidden" id="y_1" name="y" /> 
                    <input type="hidden" id="w_1" name="w" /> 
                    <input type="hidden" id="h_1" name="h" />
                    <input type="hidden" id="showpicval_1" value="<{$userinfo.picture}>" />
                    <input type="hidden" id="is_cut"  />
                    <input type="hidden" id="showpicval_1_old" value="<{$userinfo.picture}>" />
                </li>
                <li>
                    <label>性别</label>
                    <span class="ina_sex <{if $userinfo.sex eq 1}>ina_cur<{/if}>" data="1"><b><i></i></b>男</span>
                    <span class="ina_sex <{if $userinfo.sex eq 2}>ina_cur<{/if}>" data="2"><b><i></i></b>女</span>
                </li>
                <li>
                    <label>用户名</label>
                    <input <{if $userinfo.name != ''}>disabled="disabled"<{/if}> type="text" id="nickname" value="<{$userinfo.name}>" placeholder="我要起个帅气的名字(⊙o⊙)…">
                        <p>此用户名用于展示，填写后将无法修改,最长16个字符</p>
                </li>
                <li>
                    <label>个人简介</label>
                    <textarea placeholder="写点啥好呢？(⊙o⊙)…" id="ina_textarea"><{$userinfo.introduce}></textarea>
                    <p>还可以输入<b id="show_num"><{(200 - mb_strlen($userinfo.introduce))}></b>个字</p>
                </li>
                <li><label>&nbsp;</label><a href="javascript:;" id="sure_edit">确定</a></li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .button_style{ background: none; border:0;}
    .button_style:hover{ background: none;}
    .uploadify-button:hover{ background: none;}
    .uploadify object{ left: 0; top: 0;}
</style>
<script>
    //性别样式
    $(".ina_perfect .ina_perfect_bottom ul li .ina_sex").click(function(){
        <{if empty($userinfo.picture)}>
        var data = $(this).attr('data');
        if(data==1){
            $("#default_div img").attr('src','http://img.news18a.com/community/image/man.png');
        }else{
            $("#default_div img").attr('src','http://img.news18a.com/community/image/women.png');
        }
        <{/if}>
        
        $(this).addClass('ina_cur').siblings('.ina_sex').removeClass('ina_cur');
    });


     //兴趣样式
    $(".ina_perfect .ina_perfect_bottom ul li .ina_xingqu span").click(function(){
        $(this).toggleClass('ina_cur');
    });


            //个人简绍样式
            var element = document.getElementById("ina_textarea");
if("\v"=="v") {
     if(/msie/i.test(navigator.userAgent)){element.onpropertychange = myfun;}
}else{
     element.addEventListener("input",myfun,false);
}
function myfun(){
    var val=element.value;
    if(val.length>200){
        $("#ina_textarea").val(val.substr(0,200));
        $("#ina_textarea").parents("li").find("p b").html(0);
        ina_tkclose("提示信息","简介长度超过200个字，三秒后将自动关闭…")
        return false;
    }
    else{
        $("#ina_textarea").parents("li").find("p b").html(200-val.length);
    }
}
/*********************************/
$('#file_upload').uploadify({
            'formData': {
                'timestamp': '<{$time}>',
                'token': '<{$token}>',
                'sessionid': '<{$session_id}>',
                'sizeproportion':3
            },
            'swf': '__PUBLIC__/js/uploadify.swf',
            'auto': true, //是否自动上传  
            'uploader': '__URL__/add_uploadpic/',
            'fileTypeExts': '*.jpg;*.gif;*.jpeg',
            'buttonText': '',
            'removeTimeout': 0,
            'height'        : 150,
            'width'        : 150,
            'buttonClass': "button_style",
            'onUploadStart':function(){
                $("#cut_pic_1").slideDown(500);
                $("#cut_pic_1_2").html("<img id='cropbox_1' src='http://img.news18a.com/community/image/lazyload_154.jpg' />");
             },
            'onInit': function () { 
                //隐藏上传进度
                $("#file_upload").hide();
            },
            'onInit': function () {                        
               $("#file_upload-queue").hide();
            },
            'onUploadSuccess': function (file, data, respone) {

             //$("#cut_pic_1").empty();
             var data_str = eval("("+data+")");
                $("#cut_pic_1_2").empty();
                $("#cut_pic_1_2").html("<img id='cropbox_1' src='<{$ftp_img_path}>" + data_str.pic + "' />");
                $("#showpicval_1").val(data_str.pic);
                //调用裁剪插件
                $('#cropbox_1').Jcrop({
                    aspectRatio: 1,
                    onSelect: updateCoords_1,
                    minSize:[150,150],
                    setSelect:[0,0,150,150],
                    onRelease:function(){
                        return;
                    }
                });
            }      
});
$("#cut_pic_button_1").live('click',function(){
        if (parseInt($('#w_1').val())){
            var pn =  $('#showpicval_1').val();
            var x = $('#x_1').val();
            var y = $('#y_1').val();
            var w = $('#w_1').val();
            var h = $('#h_1').val();
            $.post("__APP__/Index/cut_pic_size",{'pic_times':1,'pn':pn,'x':x,'y':y,'w':w,'h':h,'type':1},function(res){
                $("#cut_pic_1").slideUp(500);
                $("#default_div_show").html("<img src='<{$ftp_img_path}>" + res + "' width='150' height='150'>")
                $('#showpicval_1').val(res);
                $("#is_cut").val(1);
            });
        }else{
        alert(1);
            //ina_tk("请选择一个裁剪区域","确定");
        } 
        
    });
    function updateCoords_1(c){
        $('#x_1').val(c.x);
        $('#y_1').val(c.y);
        $('#w_1').val(c.w);
        $('#h_1').val(c.h);
    }
    function strlen(str){
        var len = 0;
        for (var i=0; i<str.length; i++) {
         var c = str.charCodeAt(i);
        //单字节加1
         if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) {
           len++;
         }
         else {
          len+=2;
         }
        }
        return len;
    }
    
    
    
$("#sure_edit").click(function(){
    
    var showpicval = $("#showpicval_1").val();
    var sex = $(".ina_cur").attr('data');
    var nickname = $("#nickname").val();
    var nickname_len = strlen(nickname);
    
    var ina_textarea = $("#ina_textarea").val();
//    if(showpicval==''){
//          ina_tk("请上传头像","确定");
//        return;
//    }
    if($("#is_cut").val()==''){
        showpicval = $("#showpicval_1_old").val();
    }
    if($("#nickname").attr("disabled")==undefined||$("#nickname").attr("disabled")==null){
        if(nickname==''){
            ina_tkclose("提示信息","请填写昵称，三秒后将自动关闭…")
            return;
        }
        if(nickname_len > 16){
            ina_tkclose("提示信息","用户名长度大于16个字符，三秒后将自动关闭…")
            return;   
        }
    }
    
    if(sex==''){
        ina_tk("请选择性别","确定");
        return;
    }
    $.post("__APP__/Ucenter/update_userinfo",{"showpicval":showpicval,"sex":sex,"nickname":nickname,"ina_textarea":ina_textarea},function(res){
        if(res==1){
            window.location.href="__APP__/Ucenter"
        }
        if(res==2){
            ina_tkclose("提示信息","昵称已存在请重新填写，三秒后将自动关闭…")
        }
        
    });
});
function ina_tk(str,btn,href){
    var height=$(window).height();
    if(href==undefined||href==null){href="javascript:;"}
    var html="<div class='ina_tkbg' style='height:"+height+"px'></div><div class='ina_tk'><a href='javascript:;' class='ina_close'>&times;</a><p>"+str+"</p><div class='ina_tkbtn'><i></i><a href='"+href+"'>"+btn+"</a></div></div>";
    $("body").append(html)
    $(".ina_tkbg,.ina_close,.ina_tk .ina_tkbtn a").live("click",function(){
        $(".ina_tk,.ina_tkbg").remove();
    })
}
</script>
<script src="http://img.news18a.com/community/js/public.js"></script>
<{include file="../Public/foot.html"}>
</body>
</html>