
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>我的关注-极趣</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
</head>
<body class="ina_f5f5f5">
<{include file="../Public/head.html"}>

<div class="ina_silde">
    <{include file="../Public/cuser_fans_left.html"}>
    <div class="ina_center_right">
        <div class="ina_center_daohang">
            <ul>
                <li><a href="__APP__/Ucenter">个人中心</a></li>
                <li><a href="__APP__/Ucenter/mylike">我的收藏</a></li>
                <li><a href="__APP__/Ucenter/mymess">我的帖子</a></li>
                <li class="ina_cur"><a href="__APP__/Ucenter/myfri">我的关注</a></li>
                <li><a href="__APP__/Ucenter/myfans">我的粉丝</a></li>
            </ul>
        </div>
        <{if $list}>
        <div class="ina_centerright_box">
            <div class="ina_centerbt ina_m20">
                <h3>共关注<span style='display: inline; float: none;' id="numcount"><{$count}></span>个作者</h3>
            </div>
            <div class="ina_list_fans">
                <{foreach $list as $v}>
                <div class="ina_grjj">
                    <div class="ina_grjj_edit"><a href="javascript:;;" uid="<{$v.fid}>" types="list" class="quxiao <{if $v.like eq 'y'}>ina_huguanzhu<{else}>ina_yiguanzhu<{/if}>">
                            <i class="ina_icon"></i><b><{if $v.like eq 'y'}>互关注<{else}>已关注<{/if}></b><em>取&nbsp;&nbsp;消</em></a></div>
                    <div class="ina_touxiang">
                        <a href="__APP__/Ucenter/uspace/uid/<{$v.fid}>" target="_blank"><img src="<{$v.picture_path}>"></a>
                        <p><span><{$v.username}></span></p>
                        <span class="ina_sex">
                            <i class="ina_icon <{if $v.sex eq '1'}>ina_man<{else}>ina_women<{/if}>"></i>
                        </span>
                    </div>
                    <div class="ina_grjjbt">个人简介:</div>
                    <div class="ina_grjjnr"><{$v.introduce|truncate:16:"..."}></div>
                    <ul>
                        <li><span>发帖数</span><p><a href="__APP__/Ucenter/uspace/uid/<{$v.fid}>" target="_blank"><{$v['num_data'][0]}></a></p></li>
                        <li><span>关注</span><p><a href="__APP__/Ucenter/uspace/uid/<{$v.fid}>" target="_blank"><{$v['num_data'][1]}></a></p></li>
                        <li class="ina_last"><span>粉丝</span><p><a href="__APP__/Ucenter/uspace/uid/<{$v.fid}>" target="_blank"><{$v['num_data'][2]}></a></p></li>
                    </ul>
                </div>
                <{/foreach}>
                
            </div>
            <div class="ina_page">
                <!--<a href="#" class="ina_prev_next ina_gray"><</a><a href="javascript:;" class="ina_cur">1</a><a href="#">2</a><span>…</span><a href="#">14</a><a href="#">15</a><a href="#" class="ina_prev_next ina_red">></a><span>共15页</span><input><a href="#" class="ina_red">GO</a>-->
                <{$pageinfo}>
            </div>
        </div>
        <{else}>
        <div class="ina_centerright_box">
<!--            <div class="ina_centerright_boxno">
                <img src="http://img.news18a.com/community/image/shoucang.jpg">
                <span>什么鬼都没有还怎么混？去<a href="__APP__/Index">收藏</a></span>
            </div>-->
            <!-- <div class="ina_centerright_boxno">
                <img src="http://img.news18a.com/community/image/tiezi.jpg">
                <span>DA爷今天心情不错，<a href="__APP__/Index/add">发个帖子</a>去O(∩_∩)</span>
            </div>-->
            <div class="ina_centerright_boxno">
                <img src="http://img.news18a.com/community/image/guanzhu.jpg">
                <span>嗯哼！去<a href="__APP__/Index" target="_blank">关注</a>点帅哥美女刷刷存在感！</span>
            </div>
            <!--<div class="ina_centerright_boxno">
                <img src="http://img.news18a.com/community/image/fans.jpg">
                <span>竟然没有粉丝，要饿死我么？<a href="#">发帖</a>拉粉去</span>
            </div> -->
        </div>
        <{/if}>
    </div>
</div>
<div class="ina_fixed"><a href="__APP__/Index/add" target="_blank"><img src="http://img.news18a.com/community/image/fatie.png"></a></div>
<script type="text/javascript">
    $(function(){
        //添加关注
       $(".tianjiagz").live("click",function(){
        var id = $(this).attr('uid');
        var _this = $(this);
        $.post("/index.php/Ucenter/add_attention",{'id':id},function(data){
            data_json = eval("(" + data + ")");
            if(data_json.res==1){
                
                if(data_json.status==1){//互粉
                    if(_this.attr("types")!='list'){
                        change_user_info();
                    }else{
                        _this.attr("class","quxiao ina_huguanzhu");
                        _this.html('<i class="ina_icon"></i><b>互关注</b><em>取  消</em>');
                    }
                }else{//已关注
                    if(_this.attr("types")!='list'){
                        change_user_info();
                    }else{
                        _this.attr("class","quxiao ina_yiguanzhu");
                        _this.html('<i class="ina_icon"></i><b>已关注</b><em>取  消</em>');
                    }
                }
                //ina_tk("关注成功","确定");
                window.location.reload();
            }else if(data_json.res==4){
                ina_tk("登录或注册网通社兴趣社区<br>即可进行此操作^_^","登录","__APP__/Users/login");
            }else{
                ina_tk("关注失败","确定");
            }
        });
    });
        //取消关注
   $(".quxiao").live("click",function(){
                var id = $(this).attr('uid');  
                var _this = $(this);
                $.post("/index.php/Ucenter/cancel_attention",{'id':id},function(data){
                    if(data==1){
                        _this.attr("class","tianjiagz ina_jia");
                        _this.html('<i class="ina_icon"></i>加关注');
                        _this.parents("div.ina_grjj").remove();
                    }
                    if(data==2){
                        ina_tk("取消失败","确定");
                    }
                });
        });
        
        //换一个
        $("#change_another").click(function(){
            change_user_info()
        });
        
        
    });
    //换一个
    function change_user_info(){
        $.post("__APP__/Ucenter/get_random_user",function(data){
            $("#show_change_user").empty();
            $("#show_change_user").html(data);
           });
    }
    function ina_tk(str,btn,href){
        var height=$(window).height();
        if(href==undefined||href==null){href="javascript:;"}
        var html="<div class='ina_tkbg' style='height:"+height+"px'></div><div class='ina_tk'><a href='javascript:;' class='ina_close'>&times;</a><p>"+str+"</p><div class='ina_tkbtn'><i></i><a href='"+href+"'>"+btn+"</a></div></div>";
        $("body").append(html)
        $(".ina_tkbg,.ina_close,.ina_tk .ina_tkbtn a").live("click",function(){
            $(".ina_tk,.ina_tkbg").remove();
        })
    }
</script>
</body>
</html>