<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>个人中心-极趣</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
<style type="text/css">
    #divDate{ left: 52px; top: 40px;}
    .ina_grxx dl.ina_edit{ display: block;}
</style>
</head>
<body class="ina_f5f5f5">
<{include file="../Public/head.html"}>

<div class="ina_silde">
    <{include file="../Public/cuser_left.html"}>
<!--    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lyz.calendar.css">
    
    <script type="text/javascript" src="__PUBLIC__/js/lyz.calendar.min.js"></script>-->
    <div class="ina_center_right">
        <div class="ina_center_daohang">
            <ul>
                <li class="ina_cur"><a href="__APP__/Ucenter">个人中心</a></li>
                <li><a href="__APP__/Ucenter/mylike">我的收藏</a></li>
                <li><a href="__APP__/Ucenter/mymess">我的帖子</a></li>
                <li><a href="__APP__/Ucenter/myfri">我的关注</a></li>
                <li><a href="__APP__/Ucenter/myfans">我的粉丝</a></li>
            </ul>
        </div>
        <div class="ina_grxx">
            <div class="ina_centerbt">
                <h3>个人信息</h3>
               
            </div>
            <dl class="ina_edit" style="position:relative;">
                <dd><span>生日：</span><input id="ina_date" value="<{$user.birthday}>">
                    <span>省份：</span>
                    <select id="province">
                        <option value="0">请选择省份</option>
                        <{foreach $province as $v}>
                        <option value="<{$v.provinceID}>" <{if $user.province eq $v.provinceID}>selected="selected"<{/if}>><{$v.provinceNameC}></option>
                        <{/foreach}>
                    </select>
                    <span>城市：</span>
                    <select id="city">
                        <option>请选择城市</option>
                        <{foreach $city as $v}>
                        <option value="<{$v.cityID}>" <{if $user.city eq $v.cityID}>selected="selected"<{/if}>><{$v.cityNameC}></option>
                        <{/foreach}>
                    </select></dd>
                <dd><span>兴趣：</span>
                    <p id="xingqu">
                        <{foreach $cat as $v}>
                        <a href="javascript:;" data="<{$v.id}>" <{if in_array($v.id,$user.interest)}>class="ina_cur"<{else}>class=""<{/if}>><{$v.name}></a>
                        <{/foreach}>
                    </p>
                </dd>
                <dd><a href="javascript:;" class="ina_save">保存</a><a href="__APP__/Ucenter" style="float:right; width: 60px;" class="ina_save_1">取消</a></dd>
            </dl>
        </div>
        <div class="ina_centerright_box">
            <div class="ina_centerbt">
                <h3>我发布的帖子</h3>
                <span><a href="__APP__/Ucenter/mymess" class="ina_more">>></a></span>
            </div>
            <div class="ina_list">
                <{if $list}>
                <{foreach $list as $v}>
                <dl>
                    <dt><a href="__APP__/Index/show/id/<{$v.id}>" target="_blank"><img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$v.cover2}>" /></a>
                        <span style="display: none;" data="<{$v.id}>">×</span>
                        <{if $v.isbest}><em><i>精</i></em><{/if}>
                    </dt>
                    <dd>
                        <div class="ina_label">
                            <!--<span class="ina_label<{$v.class_id}>"><{$v.p_name}></span>-->
                            <p style="float:left; padding:0 5px; 
                               <{if $v.status=='已审核'}>
                               border:1px solid #44c903; color: #44c903;
                               <{else if $v.status=='未审核'}>
                               border:1px solid #ffc12d;color:#ffc12d;
                               <{/if}>
                               "><{$v.status}></p>
                            <p><i class="ina_icon"></i><{$v.addtime}></p>
                        </div>
                        <h3><a href="__APP__/Index/show/id/<{$v.id}>" target="_blank"><{$v.title}></a></h3>
                    </dd>
                </dl>
                <{/foreach}>
                <{else}>
                <div class="ina_centerright_boxno">
                <img src="http://img.news18a.com/community/image/tiezi.jpg">
                <span>DA爷今天心情不错，<a href="/index.php/Index/add" target="_blank">发个帖子</a>去O(∩_∩)</span>
                </div>
                <{/if}>
            </div>
        </div>
        <{if $list2}>
        <div class="ina_centerright_box">
            <div class="ina_centerbt">
                <h3>我的草稿箱</h3>
                <span><a href="javascript:;;" class="ina_more">>></a></span>
            </div>
            <div class="ina_list">
                
                <{foreach $list2 as $v}>
                <dl>
                    <dt><a href="__APP__/Index/edit/id/<{$v.id}>" target="_blank"><{if $v.cover2_path}><img src="<{$v.cover2}>"><{else}><img src="http://img.news18a.com/community/image/lazyload_324.jpg"><{/if}></a><span style="display: none;" data="<{$v.id}>">×</span></dt>
                    <dd>
                        <div class="ina_label">
                            <!--<span class="ina_label<{$v.class_id}>"><{$v.p_name}></span>-->
                            <p style="float:left; padding:0 5px;border:1px solid #7dd2ec;color:#7dd2ec;"><{$v.status}></p>
                            <p><i class="ina_icon"></i><{$v.addtime}></p>
                        </div>
                        <h3><a href="__APP__/Index/edit/id/<{$v.id}>" target="_blank"><{$v.title}></a></h3>
                    </dd>
                </dl>
                <{/foreach}>
               
                
            </div>
        </div>
        <{/if}>
        
        <{if $list_wtg}>
        <div class="ina_centerright_box">
            <div class="ina_centerbt">
                <h3>未通过审核的帖子</h3>
                <span><a href="__APP__/Ucenter/mymess" class="ina_more">>></a></span>
            </div>
            <div class="ina_list">
                
                <{foreach $list_wtg as $v}>
                <dl>
                    <dt><a href="__APP__/Index/edit/id/<{$v.id}>" target="_blank"><img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$v.cover2}>" /></a><span style="display: none;" data="<{$v.id}>">×</span><{if $v.isbest}><em><i>精</i></em><{/if}></dt>
                    <dd>
                        <div class="ina_label">
                            <!--<span class="ina_label<{$v.class_id}>"><{$v.p_name}></span>-->
                            <p style="float:left; padding:0 5px;border:1px solid #fa5a17;color:#fa5a17;"><{$v.status}></p>
                            <p style="float:left; padding:0 10px; position: relative;cursor: pointer;" class="show_keys">?
                                <span style="position: absolute; cursor: pointer; display: none;left:25px; top: 0; z-index: 9; width: 110px; background: #FFF; border:1px solid #fa5a17;color:#fa5a17;">由于不符合发布要求</span>  
                            </p>
                            <p style="float: right;"><i class="ina_icon"></i><{$v.addtime}></p>
                        </div>
                        <h3><a href="__APP__/Index/edit/id/<{$v.id}>" target="_blank"><{$v.title}></a></h3>
                    </dd>
                </dl>
                <{/foreach}>
            </div>
        </div>
        <{/if}>
        
        
        
    </div>
</div>
<script src="http://img.news18a.com/community/js/laydate.js"></script>
<script>
    $(".ina_list dl dt").live("mouseover",function(){
            $(this).find("span").show();
        })
        $(".ina_list dl dt").live("mouseout",function(){
            $(this).find("span").hide();
        })
        $(".ina_list dl dt span").live("click",function(){ 
            var _this = $(this);
            ina_tksure("提示信息","确定要删除帖子吗？",function(_this){
                var id = _this.attr('data');
                $.post("/index.php/Index/del_mess",{"id":id},function(res){
                    if(res==1){
                        _this.parents("dl").remove();
                        $(".ina_zhezhao").css("display","none");
                        $(".ina_tksure").css("display","none");
                    }
                });
            },_this); 
        });
    $(function () {

        laydate({
            elem: '#ina_date',
            max:laydate.now()
         });

       $("#province").change(function(){
           $("#city").attr("disabled",true);
           $.post("__APP__/Ucenter/getcitybyprovince",{'province':$(this).val()},function(data){
              var data_json = eval("(" + data + ")");
              var city_html = "<option value='0'>请选择城市</option>";
              $.each(data_json,function(a,b){
                 city_html += "<option value='"+b.cityID+"'>"+b.cityNameC+"</option>";
                 return;
              });
              $("#city").attr("disabled",false).html(city_html);
           })
       });
    });
    $("#xingqu a").click(function(){
        var aclass = $(this).attr('class');
        if(aclass=='ina_cur'){
            $(this).removeClass('ina_cur');
        }else{
            $(this).addClass('ina_cur');
        }
    });
    $(".ina_save").click(function(){
        var ina_date = $("#ina_date").val();
        var province = $("#province").val();
        var city = $("#city").val();
        var inter = '';
        $("#xingqu .ina_cur").each(function(){
            inter += $(this).attr('data')+'-';
        });
        if(ina_date==''){
            ina_tkclose("提示信息","请输入生日，三秒后将自动关闭…")
            return;
        }
        if(province==0){
            ina_tkclose("提示信息","请选择省份，三秒后将自动关闭…")
            return;
        }
        if(city==0){
            ina_tkclose("提示信息","请选择城市，三秒后将自动关闭…")
            return;
        }
        if(inter==''){
            ina_tkclose("提示信息","请选择兴趣，三秒后将自动关闭…")
            return;
        }
       $.post("__APP__/Ucenter/user_edit_data",{'ina_date':ina_date,'province':province,'city':city,'inter':inter},function(res){
           if(res==1){
               ina_tkclose("提示信息","请填写完整的信息，三秒后将自动关闭…")
           }
           if(res==2){
               ina_tkclose("提示信息","更新成功，三秒后将自动关闭…",function(){
                   window.location.href="__APP__/Ucenter";
               })
           }if(res==3){
               ina_tkclose("提示信息","更新失败，三秒后将自动关闭…")
           }
           
       });
    });
    function ina_tk(str,btn,href){
        var height=$(window).height();
        if(href==undefined||href==null){href="javascript:;"}
        var html="<div class='ina_tkbg' style='height:"+height+"px'></div><div class='ina_tk'><a href='javascript:;' class='ina_close'>&times;</a><p>"+str+"</p><div class='ina_tkbtn'><i></i><a href='"+href+"'>"+btn+"</a></div></div>";
        $("body").append(html)
        $(".ina_tkbg,.ina_close,.ina_tk .ina_tkbtn a").live("click",function(){
            $(".ina_tk,.ina_tkbg").remove();
        })
    }
</script>
<script src="http://img.news18a.com/community/js/public.js"></script>
<script>
    $("img").lazyload({effect:"fadeIn"});

    $(".show_keys").hover(function(){
        $(this).find("span").slideDown(100);
    },function(){
        $(this).find("span").slideUp(100);
    });
</script>
<{include file="../Public/foot.html"}>
</body>
</html>