<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>兴趣社区</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
</head>
<body class="ina_f5f5f5">
<{include file="../Public/head.html"}>

<div class="ina_silde">
    <div class="ina_author_top">
        <dl>
            <dt><img src="<{$userinfo['picture']}>"><!--<img src="http://img.news18a.com/community/image/man.png">--><i></i></dt>
            <dd>
                <div class="ina_author_name">
                    <h3><{$userinfo.username}></h3>
                    <span><b><{$count_s}></b>(粉丝)</span>
                    <span><b><{$count_f}></b>(关注)</span>
                </div>
                <P>
                    <{if $userinfo.sex eq '1'}>
                    <span><i class="ina_icon ina_man"></i>男</span>
                    <{else}>
                    <span><i class="ina_icon ina_women"></i>女</span>
                    <{/if}>
                    
                    <span><i class="ina_icon ina_addr"></i><{$userinfo.province}></span>
                    
                    <span><i class="ina_icon <{if $userinfo.constellation eq '处女座'}>
                    ina_chunv
                    <{else if $userinfo.constellation eq '水瓶座'}>
                    ina_shuiping
                    <{else if $userinfo.constellation eq '天秤座'}>
                    ina_tiancheng
                    <{else if $userinfo.constellation eq '射手座'}>
                    ina_sheshou
                    <{else if $userinfo.constellation eq '双子座'}>
                    ina_shuangzi
                    <{else if $userinfo.constellation eq '金牛座'}>
                    ina_jinniu
                    <{else if $userinfo.constellation eq '巨蟹座'}>
                    ina_juxie
                    <{else if $userinfo.constellation eq '天蝎座'}>
                    ina_tianxie
                    <{else if $userinfo.constellation eq '狮子座'}>
                    ina_shizi
                    <{else if $userinfo.constellation eq '白羊座'}>
                    ina_baiyang
                    <{else if $userinfo.constellation eq '摩羯座'}>
                    ina_mojie
                    <{else if $userinfo.constellation eq '双鱼座'}>
                    ina_shuangyu
                    <{/if}>"></i><{$userinfo.constellation}></span>
                    <!--<span><i class="ina_icon ina_shuiping"></i>水瓶座</span>
                    <span><i class="ina_icon ina_tiancheng"></i>天秤座</span>
                    <span><i class="ina_icon ina_sheshou"></i>射手座</span>
                    <span><i class="ina_icon ina_shuangzi"></i>双子座</span>
                    <span><i class="ina_icon ina_jinniu"></i>金牛座</span>
                    <span><i class="ina_icon ina_juxie"></i>巨蟹座</span>
                    <span><i class="ina_icon ina_tianxie"></i>天蝎座</span>
                    <span><i class="ina_icon ina_shizi"></i>狮子座</span>
                    <span><i class="ina_icon ina_baiyang"></i>白羊座</span>
                    <span><i class="ina_icon ina_mojie"></i>摩羯座</span>
                    <span><i class="ina_icon ina_shuangyu"></i>双鱼座</span>-->
                </P>
                <div class="ina_author_jj"><span>个人简介：</span><{$userinfo.introduce}></div>
                <div class="ina_gzzt">
                    <{if $smarty.session.user.id neq $userinfo.id}>
                    <{if $userinfo.like eq '1'}>
                    <a href="javascript:;;" uid ="<{$userinfo.id}>" class="quxiao ina_yiguanzhu"><i class="ina_icon"></i><b>已关注</b><em>取&nbsp;&nbsp;消</em></a>
                    <{else if $userinfo.like eq '2'}>
                    <a href="javascript:;;" uid ="<{$userinfo.id}>" class="quxiao ina_huguanzhu"><i class="ina_icon"></i><b>互关注</b><em>取&nbsp;&nbsp;消</em></a>
                    <{else}>
                    <a href="javascript:;;" uid ="<{$userinfo.id}>" class="tianjiagz ina_jia"><i class="ina_icon"></i>加关注</a>
                    <{/if}>
                    <{/if}>
                </div>
            </dd>
        </dl>
    </div>
    <div class="ina_author">
        <{if $list}>
        <div class="ina_list">
            <{foreach $list as $v}>
            <dl>
                <dt><a href="__APP__/Index/show/id/<{$v.id}>" target="_blank"><img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$v.cover2}>" /></a>
                <{if $v.isbest}><em><i>精</i></em><{/if}>
                </dt>
                <dd>
                    <div class="ina_label">
<!--                        <span class="ina_label<{$v.pid_class}>"><{$v.pid_name}></span>-->
                       <p class="ina_ydpl"><span><i class="ina_icon ina_read"></i><{$v.scan}></span><span><i class="ina_icon ina_message"></i><{$v.pl_num}></span></p>
                        <p><i class="ina_icon"></i><{$v.addtime}></p>
                    </div>
                    <h3><a href="__APP__/Index/show/id/<{$v.id}>" target="_blank"><{$v.title}></a></h3>
                </dd>
            </dl>
           <{/foreach}>
        </div>
        
        <div class="ina_page">
            <!--<a href="#" class="ina_prev_next ina_gray"><</a><a href="javascript:;" class="ina_cur">1</a><a href="#">2</a><span>…</span><a href="#">14</a><a href="#">15</a><a href="#" class="ina_prev_next ina_red">></a><span>共15页</span><input><a href="#" class="ina_red">GO</a>-->
        <{$pageinfo}>
        </div>
        <{else}>
        <div class="ina_author_no">
            <p>搞什么嘛！啥都没有~</p>
            <img src="http://img.news18a.com/community/image/author_tieno.png">
        </div>
        <{/if}>
    </div>
</div>
<div class="ina_fixed"><a href="__APP__/Index/add" target="_blank"><img src="http://img.news18a.com/community/image/fatie.png"></a></div>
<script type="text/javascript">
    $(function(){
        //添加关注
       $(".tianjiagz").live("click",function(){
        var id = $(this).attr('uid');
        var _this = $(this);
        $.post("/index.php/Ucenter/add_attention",{'id':id},function(data){
            data_json = eval("(" + data + ")");
            if(data_json.res==1){
                if(data_json.status==1){//互粉
                    _this.attr("class","quxiao ina_huguanzhu");
                    _this.html('<i class="ina_icon"></i><b>互关注</b><em>取  消</em>');
                }else{//已关注
                    _this.attr("class","quxiao ina_yiguanzhu");
                    _this.html('<i class="ina_icon"></i><b>已关注</b><em>取  消</em>');
                }
            }else if(data_json.res==4){
                ina_tk("登录或注册网通社兴趣社区<br>即可进行此操作^_^","登录","__APP__/Users/login");
            }
        });
    });
        //取消关注
   $(".quxiao").live("click",function(){
                var id = $(this).attr('uid');  
                var _this = $(this);
                $.post("/index.php/Ucenter/cancel_attention",{'id':id},function(data){
                    if(data==1){
                        _this.attr("class","tianjiagz ina_jia");
                        _this.html('<i class="ina_icon"></i>加关注')
                    }
                });
       
            
        });
    });
    function ina_tk(str,btn,href){
    var height=$(window).height();
    if(href==undefined||href==null){href="javascript:;"}
    var html="<div class='ina_tkbg' style='height:"+height+"px'></div><div class='ina_tk'><a href='javascript:;' class='ina_close'>&times;</a><p>"+str+"</p><div class='ina_tkbtn'><i></i><a href='"+href+"'>"+btn+"</a></div></div>";
    $("body").append(html)
    $(".ina_tkbg,.ina_close,.ina_tk .ina_tkbtn a").live("click",function(){
        $(".ina_tk,.ina_tkbg").remove();
    })
} 
</script>
<script src="http://img.news18a.com/community/js/public.js"></script>
<script>
    $("img").lazyload({effect:"fadeIn"});

</script>
<{include file="../Public/foot.html"}>
</body>
</html>