<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title><{$lanmu_info.name}>-极趣</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
</head>
<body>
<{include file="../Public/head.html"}>
<div class="ina_silde">
    <div class="ina_head">
        <{if $lanmu_info.id eq 1}>
        <img src="http://img.news18a.com/community/image/head2.jpg">
        <{else if $lanmu_info.id eq 2}>
        <img src="http://img.news18a.com/community/image/head8.jpg">
        <{else if $lanmu_info.id eq 3}>
        <img src="http://img.news18a.com/community/image/head7.jpg">
        <{else if $lanmu_info.id eq 4}>
        <img src="http://img.news18a.com/community/image/head6.jpg">
        <{else if $lanmu_info.id eq 5}>
        <img src="http://img.news18a.com/community/image/head4.jpg">
        <{else if $lanmu_info.id eq 6}>
        <img src="http://img.news18a.com/community/image/head3.jpg">
        <{else if $lanmu_info.id eq 7}>
        <img src="http://img.news18a.com/community/image/head9.jpg">
        <{else if $lanmu_info.id eq 8}>
        <img src="http://img.news18a.com/community/image/head1.jpg">
        <{else if $lanmu_info.id eq 999}>
        <img src="http://img.news18a.com/community/image/head10.jpg">
        <{else}>
         <img src="http://img.news18a.com/community/image/head5.jpg">
        <{/if}>
    </div>
    <{include file="../Public/nav.html"}>
    <div class="ina_list">
         <{foreach $list as $kye => $vo}>
        <dl>
            <dt><a href="__APP__/Index/show/id/<{$vo.id}>" target="_blank"><img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$vo.cover2}>"></a>
            <{if $vo.isbest}><em><i>精</i></em><{/if}>
            </dt>
            <dd>
                <div class="ina_label">
                    <{foreach $vo['class_name'] as $vvv}>
                    <span class="ina_label<{$vvv.class_num}>"><{$vvv.class_name}></span>
                    <{/foreach}>
                    <p><i class="ina_icon"></i><{$vo.addtime}></p>
                </div>
                <h3><a href="__APP__/Index/show/id/<{$vo.id}>" target="_blank"><{$vo.title}></a></h3>
                <div class="ina_list_bottom">
                    <div class="ina_photo">
                        <a href="__APP__/Ucenter/uspace/uid/<{$vo.uid}>" target="_blank">
                            <img src="http://img.news18a.com/community/image/lazyload_324.jpg" data-original="<{$vo.picture_path}>" /><{$vo.username}>
                        </a>
                    </div>
                    <p><span><i class="ina_icon ina_read"></i><{$vo.scan}></span><span><i class="ina_icon ina_message"></i><{$vo.pl_num}></span><span><i class="ina_icon ina_roar"></i><{$vo.znum}></span></p>
                </div>
            </dd>
        </dl>
         
        <{/foreach}>
    </div>
    <div class="ina_page">
    <{$pageinfo}>
    </div>
</div>
<div class="ina_fixed"><a href="__APP__/Index/add" target="_blank"><img src="http://img.news18a.com/community/image/fatie.png"></a></div>
<script src="http://img.news18a.com/community/js/public.js"></script>
<script>
    $("img").lazyload({effect:"fadeIn"});


</script>
<{include file="../Public/foot.html"}>
</body>
</html>