<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title><{$list.title}>-极趣</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
</head>
<body class="ina_f5f5f5">

  <{include file="../Public/head.html"}>

<div style="clear: both"></div>
<div class="ina_silde">
    <!--<div class="ina_news_head"><img src="<{$list.banner}>"></div>-->
    <{if $list}>
    <div class="ina_left">
        <div class="ina_news">
            <div class="ina_news_bt">
                <h3><{if $list.isbest==1}><i class="ina_icon"></i><{/if}><{$list.title}></h3>
                <div class="ina_news_btleft">
                    <{foreach $list.class_name as $vvv}>
                    <span class="ina_label<{$vvv.class_num}>"><{$vvv.class_name}></span>
                    <{/foreach}>
                    <p><i class="ina_icon"></i><{$list.addtime}></p>
                </div>
                <div class="ina_news_btright">
                    <span><i class="ina_icon ina_look"></i><{$list.scan}></span>
                    <span><i class="ina_icon ina_talk"></i><div style="display: inline;" id="count_rep_comm_1"><{$list.comm_num}></div></span>
                </div>
            </div>
            <style type="text/css">
                .ina_news .ina_news_nr ol p{ float: none; padding: 0; margin: 0;}
                .ina_news .ina_news_nr ol{ padding-left: 15px; float: left;}
            </style>
            <div class="ina_news_nr">
                <{stripslashes($list.content)}>
            </div>
            <div class="ina_share" id="ina_share" style="position: relative;">
                <{if $list.is_give}><span><a href="javascript:;;" id="next_give_id" class="ina_cur u_give"><i class="ina_icon"></i>点赞(<div style="display: inline;" id="zhan_num"><{$m_num}></div>)</a></span><{else}><span><a href="javascript:;;" id="next_give_id" class="give"><i class="ina_icon"></i>点赞(<div style="display: inline;" id="zhan_num"><{$m_num}></div>)</a></span><{/if}>
                <p>分享至：<a name="abc" href="<{$list.share_qq}>" class="ina_icon ina_qq"></a><a href="<{$list.share_weibo}>"
                                                                                   class="ina_icon ina_sina"></a><a
                        href="javascript:;;" id="weixin_share" class="ina_icon ina_weixin"></a>

                <div id="show_weixin_share"
                     style=" width:230px; background: #FFF; display: none; position: absolute; right: 0; top: 40px; z-index: 999999; text-align: center; padding: 10px; border: 1px solid #CCC; font-size: 12px;">
                    <img src='<{$list.share_weixin}>'/><br>打开微信，点击底部的“发现”，使用“扫一扫”即可将网页分享到我的朋友圈。
                </div>
                </p>
            </div>
        </div>
        <div class="ina_comment">
            <div class="ina_bt"><h3><i class="ina_icon ina_tuijian"></i>推荐阅读</h3></div>
            <div class="ina_tjlook">
                <ul>
                    <{foreach $recommend as $k => $v}>
                    <{if $k %3==0 && $k!=0}></ul><ul><{/if}>
                        <li><a href="__APP__/Index/show/id/<{$v.id}>" target="_blank"><img src="<{$v.cover2}>"><span><{$v.title}></span></a></li>
                    <{/foreach}>
                </ul>
               
            </div>
            <div class="ina_bt" id="content_message_postiton"><h3><i class="ina_icon ina_wzpl"></i>文章评论</h3></div>
            <div class="ina_pldl">
                <{if $smarty.session.user}>
                <div class="ina_yidl">
                    <textarea style="resize:none;" placeholder="200字以内更容易插队啦！" id="content_message"></textarea>
                    <span>您还可以输入<b>200</b>个字符</span>
                    <a href="javascript:;;" id="submit_message">提交</a>
                </div>
                <{else}>
                <div class="ina_nodl">
                    <p>注册或登录网通社极趣社区即可发表评论</p>
                    <p><a href="__APP__/Users/login" class="ina_cur">登录</a><a href="__APP__/Users/index">注册</a></p>
                </div>
                <{/if}>
            </div>
            
            <div class="ina_comment_list">
                
                <div class="ina_comment_bt" id="bbs_comment">
                    <h3>全部评论(<span id="count_rep_comm"><{$list.comm_num}></span>)</h3>
                    <p><a href="javascript:;;" class="ina_cur">最新</a><span><!--|</span><a href="#">最早</a>--></p>
                </div>
                <div class="ina_comment_nr">
                <{if $comm_list['data']}>
                <{foreach $comm_list['data'] as $v}>
                    <dl>
                        <dt><a href="__APP__/Ucenter/uspace/uid/<{$v['uid']}>" target="_blank"><img src="<{$v['picture_path']}>"></a></dt>
                    <dd>
                        <div class="ina_comment_top">
                            <h3><a href="__APP__/Ucenter/uspace/uid/<{$v['uid']}>" target="_blank"><{$v['username']}></a></h3>
                            <span class="ina_date"><{$v['addtime']}></span>
                            <p><span><a href="javascript:identification(<{$v['id']}>)"><i style="font-style: normal; width: 15px;">顶</i><{$v['pz']}></a></span>
                                <span><a href="javascript:;;" class="ina_huifu_a" pid="<{$v.id}>"><i class="ina_icon ina_huifu"></i></a></span></p>
                        </div>
                        <{if $v['history']}>
                        <ul>  
                            <{foreach $v['history'] as $kk => $vv}>   
                            <li>
                                <div class="ina_li_top">
                                    <h3><a href="__APP__/Ucenter/uspace/uid/<{$vv['uid']}>" target="_blank"><{$vv['username']}></a></h3>
                                    <p><span><a href="javascript:identification(<{$vv['id']}>)"><i style="font-style: normal; width: 15px;">顶</i><{$vv['pz']}></a></span>
                                        <span><a href="javascript:;;" class="ina_huifu_ra" pid ="<{$vv['id']}>"><i class="ina_icon ina_huifu"></i></a></span></p>
                                </div>
                                <div class="ina_linr">
                                    <{$vv['content']}>
                                </div>
                                <div class="ina_floor"><span><{$kk}>楼</span><i></i></div>
                            </li>
                            <{/foreach}>
                        </ul>
                        <{/if}>
                        <div class="ina_comment_bottom"><{$v.content}></div>
                    </dd>
                    </dl>
                <{/foreach}> 
                <{else}>
                <span style="font-size:14px; color: #CCC; text-align: center; display: block; padding: 10px; width: 630px;">暂无评论</span>
                <{/if}>
                </div>
                <div class="ina_page" >
                <!--<a href="#" class="ina_prev_next ina_gray"><</a><a href="javascript:;" class="ina_cur">1</a><a href="#">2</a><span>…</span><a href="#">14</a><a href="#">15</a><a href="#" class="ina_prev_next ina_red">></a><span>共15页</span><input><a href="#" class="ina_red">GO</a>-->
                    <{$comm_list['page_info']}>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="ina_right">
        <div class="ina_right_box">
            <div class="ina_grjj">
                <div class="ina_touxiang">
                    <div class="ina_touxiang_left"><img src="<{$list.picture_path}>"></div>
                    <div class="ina_touxiang_right">
                        <p><span><{$list.username}></span><span class="ina_guanzhu">
                                <{if $smarty.session.user.id neq $list.userid}>
                                <{if $list.follow=='1'}>
                                <a href="javascript:;;" class="quxiao ina_yiguanzhu" uid="<{$list.userid}>"><i class="ina_icon"></i><b>已关注</b><em>取&nbsp;&nbsp;消</em></a>
                                <{else if $list.follow=='2'}>
                                <a href="javascript:;;" class="quxiao ina_huguanzhu" uid="<{$list.userid}>"><i class="ina_icon"></i><b>互关注</b><em>取消</em></a>
                                <{else}>
                                <a href="javascript:;;" class="tianjiagz ina_jia" uid="<{$list.userid}>"><i class="ina_icon"></i>加关注</a>
                                <{/if}>
                                <{/if}>
                            </span></p>
                        <span class="ina_sex"><i class="ina_icon <{if $list.sex eq '1'}>ina_man<{else}>ina_women<{/if}>"></i></span>
                    </div>
                </div>
                <div class="ina_grjjbt">个人简介</div>
                <div class="ina_grjjnr"><{$list.introduce}></div>
                <ul>
                    <li><span>发帖数</span><p><a href="__APP__/Ucenter/uspace/uid/<{$list.userid}>" target="_blank"><{$count_mess}></a></p></li>
                    <li><span>关注</span><p><a href="__APP__/Ucenter/uspace/uid/<{$list.userid}>" target="_blank"><{$count_f}></a></p></li>
                    <li class="ina_last"><span>粉丝</span><p><a href="__APP__/Ucenter/uspace/uid/<{$list.userid}>" target="_blank"><{$count_s}></a></p></li>
                </ul>
            </div>
        </div>
        <div class="ina_right_box">
            <div class="ina_rightbt">
                <h3>该作者其他文章：</h3>
            </div>
            <{if $another_message}>
            <{foreach $another_message as $v}>
            <dl>
                <a href="__APP__/Index/show/id/<{$v.id}>" target="_blank">
                    <dt><img src="<{$v.cover2}>" /></dt>
                    <dd>
                        <h3><i class="ina_icon"></i><{$v.title}></h3>
                    </dd>
                </a>
            </dl>
            <{/foreach}>
            <div class="ina_more"><a href="__APP__/Ucenter/uspace/uid/<{$list.userid}>" target="_blank">查看全部</a></div>
            <{else}>
            <span style=" font-size: 14px; padding-left: 12px; color: #b3afaf;">暂无其他文章</span>
            <{/if}>
            
        </div>
        <div class="ina_right_box">
            <div class="ina_rightbt">
                <h3><{$class_info.name}>栏目其他热门文章：</h3>
            </div>
            <{if $other_hot}>
            <{foreach $other_hot as $v}>
            <dl>
                <a href="__APP__/Index/show/id/<{$v.id}>" target="_blank">
                    <dt><img src="<{$v.cover2}>" /></dt>
                    <dd>
                        <h3><{$v.title}></h3>
                    </dd>
                </a>
            </dl>
           <{/foreach}>
           <{else}>
           <span style=" font-size: 14px; padding-left: 12px; color: #b3afaf;">暂无其他文章</span>
           <{/if}>
        </div>
    </div>
    <{else}>
    <div class="ina_boxno">
        <img src="http://img.news18a.com/community/image/delete.jpg">
        <span>亲！，您来晚了，该帖子已被删除，<br>去<a href="__APP__/Index/index" target="_blank">看看别的帖子</a>&gt;﹏&lt;*</span>
    </div>
    <{/if}>
</div>
<{if $list}>
<div class="ina_fixed"><a href="__APP__/Index/add" target="_blank"><img src="http://img.news18a.com/community/image/fatie.png"></a></div>
<div class="ina_right_fixed">
    <a href="javascript:;;" class="<{if $list.is_give eq 1}>ina_cur u_give<{else}>give<{/if}>"><i class="ina_icon ina_fixed1" id="right_give_id" <{if $list.is_give eq 1}>style="background-position:0 -90px;"<{/if}>></i></a>
    <a href="javascript:;;" class="<{if $list.is_like eq 1}>collection_un<{else}>collection<{/if}>"><i class="ina_icon ina_fixed2" <{if $list.is_like eq 1}>style="background-position:-30px -90px;"<{/if}>></i></a>
<!--    <a href="#ina_share"><i class="ina_icon ina_fixed3"></i></a>
    <a href="#content_message_postiton"><i class="ina_icon ina_fixed4"></i></a>-->
    <a href="javascript:;" class="ina_scrolltop"><i class="ina_icon ina_fixed5"></i></a>
</div>
<{/if}>
<script type="text/javascript" src="__PUBLIC__/js/setParmsValue.js"></script>
<script src="http://img.news18a.com/js/jquery-1.7.2.min.js"></script>
<script src="http://img.news18a.com/community/js/public.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
if($(".ina_comment .ina_tjlook").length>0){
    $(".ina_comment .ina_tjlook").Focus({
        qhys:"ul",
        display:"left"
    })
}
$(".ina_scrolltop").click(function(){
    $("html,body").stop().animate({scrollTop:0})
})




$(function(){
    <!--img加链接 start-->
    $('.ina_news_nr img').wrap(function(){
        return '<a href="' + this.src + '" title="' + this.alt + '"></a>';
    });
    <!--img链接 end-->

    <!--分享功能start-->

    var host = window.location.host,
            url = window.location.href,
            title = '<{($list.title)}>',
            desc = '<{($list.title)}>',
            pic = '<{($list.banner)}>',
            id = '<{($list.id)}>';

    url = url.replace("&", "%26");
    $.getJSON('http://api.news18a.com/init.php?m=api&c=share&a=wxapi&url=' + url + '&callback=?', function(data) {
        if(data) {
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.appId, // 必填，公众号的唯一标识
                timestamp: data.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                signature: data.signature,// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'onMenuShareQZone'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function () {
                wx.onMenuShareTimeline({
                    title: title, // 分享标题
                    link: url, // 分享链接
                    imgUrl: pic // 分享图标
                });

                wx.onMenuShareAppMessage({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: url, // 分享链接
                    imgUrl: pic, // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '' // 如果type是music或video，则要提供数据链接，默认为空
                });

                wx.onMenuShareQQ({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: url, // 分享链接
                    imgUrl: pic // 分享图标
                });

                wx.onMenuShareWeibo({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: url, // 分享链接
                    imgUrl: pic // 分享图标
                });

                wx.onMenuShareQZone({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: url, // 分享链接
                    imgUrl: pic // 分享图标
                });
            });
        }
    });
    <!--分享功能end-->

    //提交评论数据
    $("#submit_message").click(function(){
       var content_message = $("#content_message").val();
       if(content_message != ''){
           
           if(content_message.length > 200){
               ina_tkclose("评论长度超出200字","三秒后将自动关闭…")
               return false;
           }
           
           var id = '<{$list.id}>';
           $.post("__APP__/Index/comment",{"id":id,"content_message":content_message},function(returns){
                if(returns==100){
                   ina_tkclose("您已被禁言","三秒后将自动关闭…")
                }
                if(returns==101){
                   ina_tkclose("请先完善信息","三秒后将自动关闭…",function(){
                       window.location.href="__APP__/Ucenter/euserinfo";
                   })
                   return;
                }
                if(returns==22){
                    ina_tkclose("未审核的帖子不能进行此操作","三秒后将自动关闭…")
                }
               returns_json = eval("(" + returns + ")");
               if(returns_json.status == 1){
                   $("#content_message").val('');
                   //ina_tkclose("评论成功","三秒后将自动关闭…")
                   $(".ina_pldl textarea").parents(".ina_yidl").find("span b").html(200);
                   $(".ina_comment_list").html('载入中。。。');
                   $.post("__APP__/Index/get_comm_data_html",{'mid':id},function(data){
                        var data_json = eval("(" + data + ")");
                        $(".ina_comment_list").html(data_json.html);
                    });
                    var old_int = $("#count_rep_comm_1").text();
                    
                    var new_int = (parseInt(old_int) + 1);
                    //$("#count_rep_comm").text(new_int.toString());
                    $("#count_rep_comm_1").text(new_int);
               }else if(returns_json.status == 3){
                   ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
               }
           });
       }else{
           ina_tk("填写评论后才能提交","确定");
       }
    });
    //提交评论回复
   $('.ina_huifu_a').live('click',function(){
       <{if $smarty.session.user}>
       $("div.ina_huifu_textarea").remove();
            var pid = $(this).attr('pid');
            var cid = $(this).attr('cid');
            var html = '<div class="ina_huifu_textarea"><textarea id="textarea_' + pid + '" class="ina_textarea"></textarea><span>您还可以输入<b>200</b>个字符</span><p><a href="javascript:textarea_submit(' + pid + ');" class="ina_red">确认回复</a><a href="javascript:;;" class="cancel_reply">取消回复</a></p></div>';
            $(this).parents('dd').append(html);
            var element = $(".ina_textarea");
            if("\v"=="v") {
                     if(/msie/i.test(navigator.userAgent)){element[0].onpropertychange = myfun;}
            }else{
                     element[0].addEventListener("input",myfun,false);
            }
       <{else}>
                ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
       <{/if}>
   });
   //提交回复的回复
   $('.ina_huifu_ra').live('click',function(){
         <{if $smarty.session.user}>
         $("div.ina_huifu_textarea").remove();
 
           //评论id
            var pid = $(this).attr('pid');
            var cid = $(this).attr('cid');
            var html = '<div class="ina_huifu_textarea"><textarea id="textarea_' + pid + '" class="ina_textarea"></textarea><span>您还可以输入<b>200</b>个字符</span><p><a href="javascript:textarea_submit(' + pid + ');" class="ina_red">确认回复</a><a href="javascript:;;" class="cancel_reply">取消回复</a></p></div>';
            $(this).parents('li').find('div.ina_floor').after(html);
            var element = $(".ina_textarea");
            if("\v"=="v") {
                 if(/msie/i.test(navigator.userAgent)){element[0].onpropertychange = myfun;}
            }else{
                 element[0].addEventListener("input",myfun,false);
            }
            
       <{else}>
       ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
       <{/if}>
   });
   
   
   //取消
   $(".cancel_reply").live("click",function(){
       $(this).parents("div.ina_huifu_textarea").remove();
   });
   //帖子点赞
   $(".give").live("click",function(){
       $.post('__APP__/Index/message_give',{'mid':<{$list.id}>},function(res){
            if(res==1){ 
                var old_int = $("#zhan_num").text();
                var new_int = parseInt(old_int) + 1;
                $("#zhan_num").text(new_int.toString());
                $("#next_give_id").attr('class','ina_cur u_give');            
                $("#right_give_id").css("background-position","0 -90px");
                $("#right_give_id").parent('a').attr("class","ina_cur u_give")
            }
            if(res==4){
            ina_tkclose("不能重复点赞","三秒后将自动关闭…")
            }
            if(res==3){
                ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
            }
            if(res==22){
                ina_tkclose("未审核的帖子不能进行此操作","三秒后将自动关闭…")
            }
       });
   });
   //取消点赞
   $(".u_give").live("click",function(){
       $.post('__APP__/Index/message_u_give',{'mid':<{$list.id}>},function(res){
            if(res==1){ 
                var old_int = $("#zhan_num").text();
                var new_int = parseInt(old_int) - 1;
                $("#zhan_num").text(new_int.toString());
                $("#next_give_id").attr('class','give');            
                $("#right_give_id").css("background-position","0 -60px");
                $("#right_give_id").parent('a').attr("class","give")
            }
            if(res==2){
                ina_tkclose("还没点赞哦","三秒后将自动关闭…")
            }
            
       });
   });
   
    //添加关注
    $(".tianjiagz").live("click",function(){
        var id = $(this).attr('uid');
        var _this = $(this);
        $.post("/index.php/Ucenter/add_attention",{'id':id},function(data){
            data_json = eval("(" + data + ")");
            if(data_json.res==1){
                if(data_json.status==1){//互粉
                    _this.attr("class","quxiao ina_huguanzhu");
                    _this.html('<i class="ina_icon"></i><b>互关注</b><em>取  消</em>');
                }else{//已关注
                    _this.attr("class","quxiao ina_yiguanzhu");
                    _this.html('<i class="ina_icon"></i><b>已关注</b><em>取  消</em>');
                }
            }else if(data_json.res==4){
                ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
            }else{
                ina_tkclose("关注失败","三秒后将自动关闭…")
            }
        });
    });
   
   //取消关注
   $(".quxiao").live("click",function(){
                var id = $(this).attr('uid');  
                var _this = $(this);
                $.post("/index.php/Ucenter/cancel_attention",{'id':id},function(data){
                    if(data==1){
                        _this.attr("class","tianjiagz ina_jia");
                        _this.html('<i class="ina_icon"></i>加关注')
                    }
                    if(data==2){
                        ina_tkclose("取消失败","三秒后将自动关闭…")
                    }
                });
       
            
        });

   
   
});
//提交回复
function textarea_submit(pid){
    //获取内容
    var content = $("#textarea_"+pid).val();
    if(content != ''){
    if(content.length > 200){
        ina_tkclose("回复字数超出200字","三秒后将自动关闭…")
        return false;
    }
        var id = '<{$list.id}>';
        $.post("__APP__/Index/comment",{"id":id,"pid":pid,"content_message":content},function(returns){
            if(returns==100){
                   ina_tkclose("您已被禁言","三秒后将自动关闭…")
                   return;
            }
            if(returns==101){
                ina_tkclose("请先完善信息","三秒后将自动关闭…")
                return;
            }
            returns_json = eval("(" + returns + ")");
            if(returns_json.status==1){
                //ina_tkclose("回复成功","三秒后将自动关闭…")
                $(".ina_comment_list").html('载入中。。。');
                $.post("__APP__/Index/get_comm_data_html",{'mid':id},function(data){
                    var data_json = eval("(" + data + ")");
                    $(".ina_comment_list").html(data_json.html);
                });
                var old_int = $("#count_rep_comm").text();
                var new_int = parseInt(old_int) + 1;
                $("#count_rep_comm").text(new_int.toString());
            }else if(returns_json.status==3){
                ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
                });
            }
                
        });
    }
}
//评论点赞
function identification(id){
$.post('__APP__/Index/comm_give',{'id':id},function(res){
    if(res==1){
        $(".ina_comment_list").html('载入中。。。');
        $.post("__APP__/Index/get_comm_data_html",{'mid':<{$list.id}>},function(data){
            var data_json = eval("(" + data + ")");
            $(".ina_comment_list").html(data_json.html);
        });
    }
    if(res==2){
        ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
            });
    }
    if(res==3){
       
        //window.location.reload();
    }
});
}
//收藏
$(".collection").live("click",function(){
    var _this = $(this);
    $.post('__APP__/Index/add_like',{'id':<{$list.id}>},function(res){
        if(res==1){
            _this.attr("class","collection_un");
            _this.find("i").css("background-position","-30px -90px");
        }
        if(res==3){
            ina_tkclose("不要重复收藏","三秒后将自动关闭…")
        }
        if(res==2){
            ina_tksure("提示信息","登录或注册网通社兴趣社区<br>即可进行此操作^_^",function(){
                    window.location.href="__APP__/Users/login";
            });
        }
        if(res==4){
            ina_tkclose("收藏失败请重试","三秒后将自动关闭…")
        }
        if(res==22){
            ina_tkclose("未审核的帖子不能进行此操作","三秒后将自动关闭…")
        }
    });
});
//取消收藏
$(".collection_un").live("click",function(){
    var _this = $(this);
    $.post('__APP__/Index/del_like',{'id':<{$list.id}>},function(res){
        if(res==1){
            _this.attr("class","collection");
            _this.find("i").css("background-position","-30px -60px");
        }
        if(res==2){
            ina_tkclose("取消收藏失败","三秒后将自动关闭…")
        }
        
    });
});
$("#weixin_share").click(function(){
        if($("#show_weixin_share").css('display')=='none'){
            $("#show_weixin_share").css("display","block");
        }else{
            $("#show_weixin_share").css("display","none");
        }

});


function ina_tk(str,btn,href){
    var height=$(window).height();
    if(href==undefined||href==null){href="javascript:;"}
    var html="<div class='ina_tkbg' style='height:"+height+"px'></div><div class='ina_tk'><a href='javascript:;' class='ina_close'>&times;</a><p>"+str+"</p><div class='ina_tkbtn'><i></i><a href='"+href+"'>"+btn+"</a></div></div>";
    $("body").append(html)
    $(".ina_tkbg,.ina_close,.ina_tk .ina_tkbtn a").live("click",function(){
        $(".ina_tk,.ina_tkbg").remove();
    })
}
function myfun(){
    var val=$(".ina_textarea").val();
    if(val.length>200){
        $(".ina_textarea").val(val.substr(0,200));
        return false;
    }
    else{
        $(".ina_textarea").parents(".ina_huifu_textarea").find("span b").html(200-val.length);
    }
}
var element = $(".ina_yidl textarea");
if("\v"=="v") {
    if(/msie/i.test(navigator.userAgent)){element[0].onpropertychange = myfun1;}
}else{
    element[0].addEventListener("input",myfun1,false);
}
function myfun1(){
    var val=$(".ina_pldl textarea").val();
    if(val.length>200){
        $(".ina_pldl textarea").val(val.substr(0,200));
        return false;
    }
    else{
        $(".ina_pldl textarea").parents(".ina_yidl").find("span b").html(200-val.length);
    }
}
</script>
<{include file="../Public/foot.html"}>
</body>
</html>