<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>404</title>
<link rel="stylesheet" type="text/css" href="http://img.news18a.com/community/css/index.css">
</head>
<body class="ina_f5f5f5">
<{include file="../Public/head.html"}>

<div class="ina_silde">
    <div class="ina_boxno ina_404">
        <img src="http://img.news18a.com/community/image/404.png">
        <span>出错啦~\(≧▽≦)/~</span>
        <p>您访问的页面被皮皮虾带走了...</p>
        <p><a href="/">返回首页</a></p>
    </div>
</div>
<div class="ina_fixed"><a href="__APP__/Index/add"><img src="http://img.news18a.com/community/image/fatie.png"></a></div>
<script src="http://img.news18a.com/js/jquery-1.7.2.min.js"></script>
<script>
window.setTimeout(function(){
    $(".ina_404 a")[0].click();
},5000)
</script>
</body>
</html>